creators-portal/sitemap-xml-check.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Sitemap check",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "placeholder": "https://piotr-sikora.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -336,
        96
      ],
      "id": "5681c40a-3edc-4470-9fba-ecd2a46a124d",
      "name": "On form submission",
      "webhookId": "59f86951-84e3-4f38-ad8a-d88d665e7e44"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        80
      ],
      "id": "400b6656-9387-44d4-ad3f-10acdc90dc2b",
      "name": "Get sitemap.xml",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        752,
        64
      ],
      "id": "fae17bc5-8026-435d-a9dd-c2806e9c2658",
      "name": "Parse sitemap.xml to JSON"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1136,
        64
      ],
      "id": "cb3e5523-916e-469a-b86d-2788cbf2f502",
      "name": "Split URLs from sitemap.xml"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1520,
        64
      ],
      "id": "311c65a3-fd2f-4ecd-8390-bb874c835385",
      "name": "Loop Over URL's"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Sitemap doesn't exist",
        "completionMessage": "Provided URL doesn't point sitemap.xml file",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        768,
        560
      ],
      "id": "d872f437-7f40-47de-8a77-a27e3c19fd3f",
      "name": "Sitemap.xml can't be found",
      "webhookId": "6fb10dc2-0182-48ab-b840-f73d52ed92d7"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Error ",
        "completionMessage": "You passed incorect URL",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        400,
        560
      ],
      "id": "0a6ae00c-cf64-4295-8a2a-26bba55b7618",
      "name": "Incorrect URL",
      "webhookId": "8dc13f3a-a438-4875-82f9-004fa64e8fc9"
    },
    {
      "parameters": {
        "content": "## Iterate Through All Sitemapped Links\nLoops through each extracted URL from the sitemap and performs an HTTP status check for every page.",
        "height": 1024,
        "width": 832,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        -32
      ],
      "typeVersion": 1,
      "id": "b3517a39-3031-44ef-8cdc-ae89734bf6cb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Invalid Input URL\nUser-provided value doesn’t match URL format requirements.\nWorkflow stops and shows an error message to the user.",
        "height": 400,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        336
      ],
      "typeVersion": 1,
      "id": "25f3c861-79eb-4c8e-8604-dfa4af70d62d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Sitemap File Not Found\nThe provided URL does not return a valid sitemap.xml file.\nTriggers the \"Sitemap not found\" message.",
        "height": 400,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        336
      ],
      "typeVersion": 1,
      "id": "24eeb235-879d-49c9-b74b-835d31d16b83",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1744,
        256
      ],
      "id": "09cb0ab5-1e0a-4b45-a20f-5dc269388293",
      "name": "HTTP GET URL from sitemap.xml",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dRKuAWEpoYqFRKgk8djMcmX44zrRYlYvdOw_rQW9BvI",
          "mode": "list",
          "cachedResultName": "[Sitemap.xml - Check pages statuses]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dRKuAWEpoYqFRKgk8djMcmX44zrRYlYvdOw_rQW9BvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dRKuAWEpoYqFRKgk8djMcmX44zrRYlYvdOw_rQW9BvI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.statusCode }}",
            "URL": "={{ $('Loop Over URL\\'s').item.json.loc }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        256
      ],
      "id": "990ca337-9567-4f6f-ab49-12338153328c",
      "name": "Append URL & HTTP Status",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sgj6aGeryqEVmS3h",
          "name": "GSheets - piotr-sikora.com"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Workflow Completed\nAll URLs have been checked. Results are written to Google Sheets.\nFinal message is shown to the user.",
        "height": 320,
        "width": 288,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1648,
        -416
      ],
      "typeVersion": 1,
      "id": "fa541317-71f4-4826-a386-2f8815bf4932",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Sitemap.xml links checked",
        "completionMessage": "All links are checked. Check Google Sheet to see full results.",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        1728,
        -272
      ],
      "id": "d56f89c0-54ff-415d-8cd9-db43db7b13c1",
      "name": "Process ended",
      "webhookId": "3dc0d015-6f79-4555-875a-36cb7e1f83fc"
    },
    {
      "parameters": {
        "content": "## Fetch Sitemap File\nMakes an HTTP request to retrieve the sitemap.xml file from the provided URL.\nIf the file isn’t reachable, the workflow moves to the \"Sitemap missing\" branch.",
        "height": 368,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        -112
      ],
      "typeVersion": 1,
      "id": "17db1555-97bd-423d-92fd-a71d5ff24acf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Extract URL List\nSplits the JSON structure into individual URL items so they can be processed one-by-one in the loop.",
        "height": 368,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        -112
      ],
      "typeVersion": 1,
      "id": "8d721e90-fa43-4365-bfe5-4e6a4dde8821",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Convert XML to JSON\nTransforms the downloaded sitemap.xml file into JSON format so the workflow can extract individual URLs.",
        "height": 368,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        -112
      ],
      "typeVersion": 1,
      "id": "b92c8471-fe2a-48a6-af3c-fcee71118678",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Validate Input URL\nChecks whether the submitted string is a valid URL before the workflow continues.\nIf the input is not a valid URL, the workflow stops and shows the \"Incorrect URL\" message.",
        "height": 368,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -64,
        -112
      ],
      "typeVersion": 1,
      "id": "6bde462d-c9a1-465c-8599-3d887bb9439c",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Check Page Status Codes\nPerforms an HTTP GET request for each URL listed in the sitemap and captures the status code (200, 404, 500, etc.).",
        "height": 368,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1664,
        80
      ],
      "typeVersion": 1,
      "id": "114e60b8-9d1d-443d-b474-aa437b96d020",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Write Results to Google Sheets\nAppends each URL and its respective HTTP status code into the connected spreadsheet for final reporting.",
        "height": 368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        80
      ],
      "typeVersion": 1,
      "id": "be0289d0-7e92-4c31-b6bf-7e855351b724",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef41777f-6cc2-4262-a23b-3e985269e533",
              "leftValue": "={{ $json.URL }}",
              "rightValue": "=/(https?:\\/\\/(?:www\\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\\.[^\\s]{2,}|www\\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\\.[^\\s]{2,}|https?:\\/\\/(?:www\\.|(?!www))[a-zA-Z0-9]+\\.[^\\s]{2,}|www\\.[a-zA-Z0-9]+\\.[^\\s]{2,})/gi",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        96
      ],
      "id": "13436992-6902-4b2c-9d8b-3f00a0c4723a",
      "name": "If valid URL"
    },
    {
      "parameters": {
        "content": "## Write Error to Google Sheet\nAppends each Error URL\n ",
        "height": 368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        560
      ],
      "typeVersion": 1,
      "id": "34d8136b-09b6-4982-ae3f-10d6d75d1cb5",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dRKuAWEpoYqFRKgk8djMcmX44zrRYlYvdOw_rQW9BvI",
          "mode": "list",
          "cachedResultName": "[Sitemap.xml - Check pages statuses]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dRKuAWEpoYqFRKgk8djMcmX44zrRYlYvdOw_rQW9BvI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 686915216,
          "mode": "list",
          "cachedResultName": "Errors",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dRKuAWEpoYqFRKgk8djMcmX44zrRYlYvdOw_rQW9BvI/edit#gid=686915216"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('Loop Over URL\\'s').item.json.loc }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2000,
        720
      ],
      "id": "a0273d0e-a11b-4da2-ac24-b7aadb2b4c43",
      "name": "Append Error",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sgj6aGeryqEVmS3h",
          "name": "GSheets - piotr-sikora.com"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "Error while saving to Google Sheets"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2336,
        384
      ],
      "id": "b8651719-d7b5-4250-8259-2105c388e15d",
      "name": "Stop and Error"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If valid URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sitemap.xml": {
      "main": [
        [
          {
            "node": "Parse sitemap.xml to JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sitemap.xml can't be found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse sitemap.xml to JSON": {
      "main": [
        [
          {
            "node": "Split URLs from sitemap.xml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split URLs from sitemap.xml": {
      "main": [
        [
          {
            "node": "Loop Over URL's",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over URL's": {
      "main": [
        [
          {
            "node": "Process ended",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP GET URL from sitemap.xml",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP GET URL from sitemap.xml": {
      "main": [
        [
          {
            "node": "Append URL & HTTP Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append URL & HTTP Status": {
      "main": [
        [
          {
            "node": "Loop Over URL's",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If valid URL": {
      "main": [
        [
          {
            "node": "Get sitemap.xml",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Incorrect URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error": {
      "main": [
        [
          {
            "node": "Loop Over URL's",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "On form submission": [
      {
        "URL": "https://piotr-sikora.com/sitemap.xml",
        "submittedAt": "2025-11-09T12:22:49.236+01:00",
        "formMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2295c029f4cb86c8f849f9c87dade323734dc279619eb9e2704f8473c381e4d1"
  }
}