creators-portal/wp-seo-audit.n8n.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "WP SEO Audit",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "placeholder": "http://yourdomain.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Post limit",
              "fieldType": "number",
              "placeholder": "Default =10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1120,
        -320
      ],
      "id": "bfc25242-766f-4b7d-ab23-a0829de1fe83",
      "name": "On form submission",
      "webhookId": "57b1b81e-feae-464e-9459-04b0e3efcaa1"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}/wp-json/wp/v2/posts?per_page={{ $json['Post limit'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -128
      ],
      "id": "3a5f6f97-c79a-4fed-b32a-fe7695e569f1",
      "name": "Get Posts",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $('On form submission').item.json.URL }}/wp-json/wp/v2/categories?per_page={{ $json.per_page }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -320
      ],
      "id": "2201ba9e-40b8-4bcc-988c-e8dce2578dda",
      "name": "Get Categories",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $('On form submission').item.json.URL }}/wp-json/wp/v2/tags?per_page={{ $json.per_page }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        -512
      ],
      "id": "f6c0f099-2c27-45df-91b3-0fd1ea15d165",
      "name": "Get Tags",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        -352
      ],
      "id": "6a924b56-3613-4b7f-a7c8-819bbe38387b",
      "name": "Merge",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "WordPress API Error",
        "completionMessage": "Please check if your WP-Api is enabled",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -48,
        -928
      ],
      "id": "bc6731ac-f1aa-4594-a1a6-98275d976ea3",
      "name": "WP API Error",
      "webhookId": "ee9fe2bd-db09-469a-b3b1-cd335e4e6daf"
    },
    {
      "parameters": {
        "jsCode": "const tagItems = $items('Get Tags');         // [{ json: { id, name, ... }}, ...]\nconst categoryItems = $items('Get Categories'); // [{ json: { id, name, ... }}, ...]\nconst postItems = $items('Get Posts');       // [{ json: { categories: [ids], tags: [ids], ... }}, ...]\n\n// Build lookup maps\nconst tagsById = Object.fromEntries(\n  tagItems\n    .filter(i => i?.json?.id != null && i?.json?.name != null)\n    .map(i => [String(i.json.id), i.json.name])\n);\n\nconst categoriesById = Object.fromEntries(\n  categoryItems\n    .filter(i => i?.json?.id != null && i?.json?.name != null)\n    .map(i => [String(i.json.id), i.json.name])\n);\n\n// Helper: normalize a field that might be number | string | array into an array of strings\nconst toIdArray = (val) => {\n  if (val == null) return [];\n  if (Array.isArray(val)) return val.map(v => String(v));\n  return [String(val)];\n};\n\n// Enrich posts with names instead of IDs\nconst out = postItems.map(item => {\n  const post = item.json;\n\n  const categoryIds = toIdArray(post.categories);\n  const tagIds = toIdArray(post.tags);\n\n  const categoryNames = categoryIds\n    .map(id => categoriesById[id])\n    .filter(Boolean);\n\n  const tagNames = tagIds\n    .map(id => tagsById[id])\n    .filter(Boolean);\n\n  return {\n    json: {\n      ...post,\n      categoryNames,\n      tagNames,\n    },\n    // keep binary if present\n    binary: item.binary,\n  };\n});\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -336
      ],
      "id": "46d785e4-fc5f-49ba-8aa6-ee6436621131",
      "name": "Assign tags and categories names to posts"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nZ3WHn_QedbuNYlFVfPildBZETNYYJFT0yYFIgJy2Mg",
          "mode": "list",
          "cachedResultName": "[WP]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nZ3WHn_QedbuNYlFVfPildBZETNYYJFT0yYFIgJy2Mg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nZ3WHn_QedbuNYlFVfPildBZETNYYJFT0yYFIgJy2Mg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $json.link }}",
            "Title": "={{ $json.title.rendered }}",
            "Tags": "={{ $json.tagNames }}",
            "Categories": "={{ $json.categoryNames }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categories",
              "displayName": "Categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        -336
      ],
      "id": "989f3e60-1a1b-454c-b5f8-cdd27bf5c379",
      "name": "Add posts, with tags, categories to Google Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sgj6aGeryqEVmS3h",
          "name": "GSheets - piotr-sikora.com"
        }
      }
    },
    {
      "parameters": {
        "content": "## Add posts, with tags, categories to Google Sheet\n\nRemember o create **Googe Sheet** with filds:\n- **URL**\n- **Title**\n- **Categories**\n- **Tags**",
        "height": 496,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -640
      ],
      "typeVersion": 1,
      "id": "88750e8c-ad3c-4f40-b3f5-83618faa5de4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## WP API Errror\n\nAPI is not avalable",
        "height": 304,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -1072
      ],
      "typeVersion": 1,
      "id": "ed1593aa-3c25-42d4-a8cc-020843039197",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Fetch API data\n\nFetch the following resources:\n- **Posts**\n- **Categories**\n- **Tags**\n\n\nPlease note that the `per_page` parameter is statically assigned for the posts and categories endpoints, with its value set to 100.\n\nIf you require a different number of results, adjust the parameter in the appropriate nodes accordingly.",
        "height": 960,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -928
      ],
      "typeVersion": 1,
      "id": "f23af13c-7b4d-46b4-af31-f33726fd8356",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Append categories and tags names\n\nWhat this does:\n- Reads Get Tags, Get Categories, and Get Posts.\n- Builds fast lookup maps.\n- Appends `categoryNames` and `tagNames` directly into each post.\n- Returns the modified posts ready for next steps.",
        "height": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -640
      ],
      "typeVersion": 1,
      "id": "06d3d9a1-40bc-43e3-82a4-8bf08e640a9a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "List created",
        "completionMessage": "Please check linked document to see details",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        688,
        -336
      ],
      "id": "c51ef4bd-2234-486b-b0f1-2d40f0d00e00",
      "name": "Form",
      "webhookId": "32930177-d74b-4ab5-98b6-7726b70811f5"
    },
    {
      "parameters": {
        "content": "## Config per_page\n\nConfigure `per_page` parametter.",
        "height": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -656
      ],
      "typeVersion": 1,
      "id": "b5e7141e-b922-496f-afd7-1c75a29dc408",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39de8718-83b1-4060-9dc9-23b1a0a20857",
              "name": "per_page",
              "value": 100,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        -448
      ],
      "id": "7a062203-6a2e-4521-a98d-f1435f52ad17",
      "name": "Config"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Get Posts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Posts": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "WP API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Categories": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "WP API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tags": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WP API Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Assign tags and categories names to posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign tags and categories names to posts": {
      "main": [
        [
          {
            "node": "Add posts, with tags, categories to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add posts, with tags, categories to Google Sheet": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get Tags",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "On form submission": [
      {
        "URL": "http://juttle.app",
        "Post limit": 1,
        "submittedAt": "2025-10-22T10:15:02.313+02:00",
        "formMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2295c029f4cb86c8f849f9c87dade323734dc279619eb9e2704f8473c381e4d1"
  }
}