flowlint/001-basic-state.n8n.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "WP SEO Audit",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL",
              "placeholder": "http://yourdomain.com",
              "requiredField": true
            },
            {
              "fieldLabel": "Post limit",
              "fieldType": "number",
              "placeholder": "Default =10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1808,
        688
      ],
      "id": "d62d9a2f-6939-49d2-bfd2-5456b26cad18",
      "name": "On form submission",
      "webhookId": "57b1b81e-feae-464e-9459-04b0e3efcaa1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -672,
        656
      ],
      "id": "724aba87-2125-475b-b5bc-63d9669e03b2",
      "name": "Merge",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "List created",
        "completionMessage": "Please check linked document to see details",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        0,
        672
      ],
      "id": "b33f54f8-e9b9-4428-a314-814a2dee8563",
      "name": "Form",
      "webhookId": "32930177-d74b-4ab5-98b6-7726b70811f5"
    },
    {
      "parameters": {
        "url": "={{ $('On form submission').item.json.URL }}/wp-json/wp/v2/tags?per_page={{ $json.per_page }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1088,
        496
      ],
      "id": "b8dceb47-9a89-4666-8140-0acaf78c4cd4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $('On form submission').item.json.URL }}/wp-json/wp/v2/categories?per_page={{ $json.per_page }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1088,
        688
      ],
      "id": "8a07235e-9de3-49fa-bc99-f6b35c1057d6",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}/wp-json/wp/v2/posts?per_page={{ $json['Post limit'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1088,
        880
      ],
      "id": "07603420-f0bd-420b-978e-a093080a89cd",
      "name": "HTTP Request2",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39de8718-83b1-4060-9dc9-23b1a0a20857",
              "name": "per_page",
              "value": 100,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        560
      ],
      "id": "ce0c8939-de39-45cf-942e-792fe8de3039",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const tagItems = $items('HTTP Request');         // [{ json: { id, name, ... }}, ...]\nconst categoryItems = $items('HTTP Request1'); // [{ json: { id, name, ... }}, ...]\nconst postItems = $items('HTTP Request2');       // [{ json: { categories: [ids], tags: [ids], ... }}, ...]\n\n// Build lookup maps\nconst tagsById = Object.fromEntries(\n  tagItems\n    .filter(i => i?.json?.id != null && i?.json?.name != null)\n    .map(i => [String(i.json.id), i.json.name])\n);\n\nconst categoriesById = Object.fromEntries(\n  categoryItems\n    .filter(i => i?.json?.id != null && i?.json?.name != null)\n    .map(i => [String(i.json.id), i.json.name])\n);\n\n// Helper: normalize a field that might be number | string | array into an array of strings\nconst toIdArray = (val) => {\n  if (val == null) return [];\n  if (Array.isArray(val)) return val.map(v => String(v));\n  return [String(val)];\n};\n\n// Enrich posts with names instead of IDs\nconst out = postItems.map(item => {\n  const post = item.json;\n\n  const categoryIds = toIdArray(post.categories);\n  const tagIds = toIdArray(post.tags);\n\n  const categoryNames = categoryIds\n    .map(id => categoriesById[id])\n    .filter(Boolean);\n\n  const tagNames = tagIds\n    .map(id => tagsById[id])\n    .filter(Boolean);\n\n  return {\n    json: {\n      ...post,\n      categoryNames,\n      tagNames,\n    },\n    // keep binary if present\n    binary: item.binary,\n  };\n});\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        672
      ],
      "id": "d2bedfc3-3bbc-45a4-9dba-efe44ef67d6d",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1nZ3WHn_QedbuNYlFVfPildBZETNYYJFT0yYFIgJy2Mg",
          "mode": "list",
          "cachedResultName": "[WP]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nZ3WHn_QedbuNYlFVfPildBZETNYYJFT0yYFIgJy2Mg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nZ3WHn_QedbuNYlFVfPildBZETNYYJFT0yYFIgJy2Mg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $json.link }}",
            "Title": "={{ $json.title.rendered }}",
            "Tags": "={{ $json.tagNames }}",
            "Categories": "={{ $json.categoryNames }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Categories",
              "displayName": "Categories",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        672
      ],
      "id": "be7256ee-2f84-4b19-afc2-551bc0d9f1c2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sgj6aGeryqEVmS3h",
          "name": "GSheets - piotr-sikora.com"
        }
      }
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        []
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "On form submission": [
      {
        "URL": "http://juttle.app",
        "Post limit": 1,
        "submittedAt": "2025-10-22T10:15:02.313+02:00",
        "formMode": "test"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2295c029f4cb86c8f849f9c87dade323734dc279619eb9e2704f8473c381e4d1"
  }
}